#slide_n_ss {
    height: 390px;
}

#slide_n_ss #slide {
    width: 700px;
    height: 100%;
    margin-right: 20px;
}

#slide_n_ss #space_stories {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.prom_n_ss_list_item {
    width: 100%;
    height: 90px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
}

#slide {
    overflow: hidden;
}

#slide #left_btn,
#slide #right_btn {
    position: absolute;
    top: 0px;
    opacity: 0.5;
}

#slide #left_btn:hover,
#slide #right_btn:hover {
    opacity: 1;
}

#slide #left_btn {
    left: 0px;
}

#slide #right_btn {
    right: 0px;
}

#slide #dots {
    position: absolute;
    width: 700px;
    left: 0px;
    bottom: 20px;
    text-align: center;
}

#slide #dots span {
    margin-right: 6px;
    font-size: 0.2em;
}

#slide_item_container {
    position: absolute;
    top: 0px;
    left: -700px;
    width: 2100px;
    height: 390px;
}

#slide_item_container .item {
    width: 700px;
    height: 390px;
}

#slide_item_container .item > div {
    width: 100%;
    height: 100%;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail {
    width: 100%;
    height: 100%;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .dark {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail:hover .dark {
    opacity: 0.7;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .prom_n_ss_title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: white;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .prom_n_ss_title > div {
    display: table-cell;
    vertical-align: middle;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .prom_n_ss_title > div > div {
    font-size: 1.6em;
    margin: 0 auto;
    display: inline-block;
    max-width: 200px;
    line-height: 1.3em;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.prom_n_ss_list_item:hover .prom_n_ss_thumbnail .prom_n_ss_title > div > div {
    border-bottom: 2px solid white;
}

#create_experience {
    width: 980px;
    height: 170px;
    background-size: 980px 510px;
}

#create_experience > div {
    height: 170px;
}

#cfen_1 {
    width: 110px;
}
#cfen_2 {
    width: 190px;
    cursor: pointer;
}
#cfen_3 {
    width: 110px;
    cursor: pointer;
}
#cfen_4 {
    width: 310px;
    cursor: pointer;
}
#cfen_5 {
    width: 120px;
    cursor: pointer;
}

#topPortfolios > div {
    width: 236px;
    height: 172px;
    margin-right: 12px;
}

#topPortfolios > div:last-child {
    margin-right: 0px;
}

#topPortfolios > div > div {
    width: 236px;
    height: 172px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

#topPortfolios > div:hover > div {
    display: block;
}

#topPortfolios > div > div > div.title {
    padding: 64px 0px 0px 24px;
    font-size: 1.6em;
    font-weight: bold;
}

#topPortfolios > div > div > div.category {
    padding: 8px 0px 0px 24px;
    font-size: 1.3em;
}

.list_top {
    margin-top: 64px;
    padding-bottom: 10px;
    font-size: 1.4em;
    text-align: right;
    font-weight: bold;
}

#portfolio_container > div,
#sites_container > div {
    width: 236px;
    height: 236px;
    margin-right: 12px;
    margin-bottom: 12px;
}

#portfolio_container > div:nth-child(4n + 4),
#sites_container > div:nth-child(4n + 4) {
    margin-right: 0;
}

#portfolio_container > div > div,
#sites_container > div > div {
    width: 236px;
    height: 236px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

#portfolio_container > div:hover > div,
#sites_container > div:hover > div {
    display: block;
}

#portfolio_container > div > div > div.title,
#sites_container > div > div > div.title {
    padding: 48px 12px 0px 24px;
    font-size: 1.6em;
    font-weight: bold;
}

#portfolio_container > div > div > div.category,
#sites_container > div > div > div.category {
    padding: 8px 12px 0px 24px;
    font-size: 1.3em;
    line-height: 1.5em;
}

#news_n_story > div {
    width: 47%;
}

#news_n_story > div.space {
    width: 6%;
    height: 1px;
}

#news_n_story > div > .title {
    font-size: 1.4em;
    margin: 16px 0px 24px 28px;
}

.news_story_list {
    margin-top: 36px;
}

.news_story_list > div {
    height: 24px;
    line-height: 24px;
    font-size: 1.2em;
}

.news_story_list > div:hover {
    color: #00ffff;
}

.news_story_list span {
    position: absolute;
    top: 0px;
}

.news_story_list .title {
    left: 12px;
}

.news_story_list .date {
    right: 12px;
}

.see_more_container {
    margin: 12px 0px 120px 0px;
}

.see_more {
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    background-color: #666666;
    padding: 12px 20px 12px 20px;
    font-size: 1.2em;
}

.see_more:hover {
    background-color: #555555;
}
