.people  {
    overflow: hidden;
    padding-left: 18px;
}

.people > div {
    margin: 0px 18px 30px 0px;
    display: none;
}

.people > div.-on {
    display: block;
}

/*.people > div.-on:nth-child(4n+4) {*/
    /*margin-right: 0px;*/
/*}*/

.people .photo {
    width: 222px;
    height: 282px;
}

.people .photo img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.people .photo:hover img {
    display: block;
}

.people .profiles {
    padding: 16px;
}

.people .profiles {
    font-size: 1.1em;
    line-height: 1.6em;
}

.people .profiles .name_kor {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 8px;
}


.people .profiles .name_eng {
    font-size: 1.1em;
    color: #808080;
}

.inside_office {
    width: 100%;
    height: 320px;
    background-image: url('/assets//images/interface/inside_office.jpg');
}