.about_values h1 {
    font-size: 3em;
    font-weight: bold;
    color: #808080;
}

.about_values .long {
    width: 840px;
}

.about_values .long div {
    font-size: 1.2em;
    color: #bfbfbf;
    margin: 18px 0 64px 0;
}

.about_values .short {
    width: 140px;
    line-height: 2em;
    font-size: 1.1em;
    font-weight: bold;
}

.about_a:first-child {
    margin-top: 64px;
}

.about_a {
    margin-bottom: 144px;
    height: 200px;
    overflow: visible;
}

.about_a .long {
    width: 808px;
    height: 200px;
}

.about_a .long div {
    position: absolute;
    bottom: 4px;
    left: 36px;
    font-size: 1.3em;
    line-height: 1.6em;
    color: #b3b3b3;
}

.about_a .long._right_align div {
    left: auto;
    right: 36px
}

.about_a .long h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333333;
}

.about_a .long img {
    position: absolute;
    left: 56px;
    top: -56px;
}

.about_a .short {
    width: 172px;
    height: 200px;
}

#company_motto {
    padding: 48px 0 36px 0;
    font-size: 6em;
    font-weight: bold;
    line-height: 1.2em;
    color: #808080;
}

.about_subtitle {
    margin: 180px 0 96px 0;
    border-bottom: 1px solid #bfbfbf;
    font-size: 1.6em;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}

#about_bi {
    font-size: 2.6em;
    color: #bfbfbf;
    vertical-align: middle;
}

#about_desc {
    color: #bfbfbf;
    margin: 80px 0 80px 0;
    font-size: 1.4em;
}

#about_circles .circle {
    cursor: pointer;
    width: 164px;
    height: 164px;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    border-radius: 82px;
    text-align: center;
}

#about_circles .circle:hover {
    border: 0px;
    background-color: #555555;
    color: white;
}

#about_circles .circle .work {
    font-size: 1.4em;
    margin-top: 40px;
    display: table;
    width: 164px;
    height: 40px;
    display: table;
}

#about_circles .circle .work div {
    width: 164px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

#about_circles .circle .department {
    font-size: 1.5em;
    margin-top: 14px;
}

#about_circles .circle .desc {
    font-size: 1.1em;
    margin-top: 6px;
}

#about_circles .space {
    width: 40px;
    height: 164px;
}


#about_desc > div:first-child {
    width: 45%;
    box-sizing: border-box;
    line-height: 2.4em;
    border-right: 2px solid #bfbfbf;
    padding: 4px 0 4px 0;
}

#about_desc > div:first-child > div {
    margin-right: 64px;
}

#about_desc > div:first-child span {
    margin-left: 12px;
    color: #333333;

}

#about_desc > div:last-child {
    width: 55%;
}

#about_desc > div:last-child > div {
    margin: 24px 0 0 64px;
    font-size: 1.2em;
    line-height: 2em;
}

#history_div {
    width:980px;
    height: 400px;
    background-image: url("/assets/images/interface/history_bg.jpg");
    height: 400px;
}

#history_div > div {
    width: 326px;
    height: 400px;
}

#history_div > div > div {
    margin: 6px 0 24px 36px;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #b6b6b6;
    letter-spacing: -1px;
}

#history_div > div div h1 {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 1.1em;
    color: #555555;
}

#bi_n_departments_section {
    display: none;
}

#history_section {
    display: none;
}

#history_div > div > div:hover {
    color: #333333;
}


.people_gallery  {
    overflow: hidden;
    padding-left: 18px;
}

.people_gallery > div {
    margin: 0px 18px 30px 0px;
    display: none;
}

.people_gallery > div.-on {
    display: block;
}

/*.people_gallery > div.-on:nth-child(4n+4) {*/
    /*margin-right: 0px;*/
/*}*/

.people_gallery .photo {
    width: 222px;
    height: 282px;
}

.people_gallery .photo img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.people_gallery .photo:hover img {
    display: block;
}

.people_gallery .profiles {
    padding: 16px;
}

.people_gallery .profiles {
    font-size: 1.1em;
    line-height: 1.6em;
}

.people_gallery .profiles .name_kor {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 8px;
}


.people_gallery .profiles .name_eng {
    font-size: 1.1em;
    color: #808080;
}

.inside_office {
    width: 100%;
    height: 320px;
    background-image: url('/assets//images/interface/inside_office.jpg');
}

#contact_info,
#company_view {
    margin-top: 24px;
}

#contact_info {
    text-align: center;
}

#contact_info .item {
    color: #4d4d4d;
    margin: 64px 0px 12px 0px;
    font-size: 2em;
}

#contact_info .info {
    color: #999999;
    font-size: 1.5em;
    line-height: 1.5em;
}

#map {
    margin-top: 64px;
    height: 500px;
}

.contact .-contact_info .tabs {
    border: 0;
}

.contact .-contact_info #contact_info_btn,
.contact .-company_view #company_view_btn {
    color: #333333;
}

.contact #contact_info,
.contact #company_view,
.inside_office,
.page_message
{
    display: none;
}

.contact .-contact_info #contact_info,
.contact .-company_view #company_view,
.contact .-contact_info .inside_office,
.contact .-company_view .page_message {
    display: block;
}

.contact .list_and_view {
    height: 400px;
}

.contact .list_and_view #list {
    width: 380px;
    height: 100%;
}

.contact .list_and_view #list ul {
    position: absolute;
    left: 0px;
    bottom: 20px;

}

.contact .list_and_view #list li {
    color: #bfbfbf;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1.8em;
}

.contact .list_and_view #list li.-on,
.contact .list_and_view #list li:hover {
    color: #333333;
}


.contact .list_and_view #view_large {
    width: 600px;
    height: 100%;
    background-image: url('/assets/images/contents/company_view/1.jpg');
}

.contact #company_view .thumbnails {
    margin-top: 36px;
    height: 120px;
}

.contact #company_view .thumbnails > div {
    width: 150px;
    height: 100%;
    margin-right: 16px;
    cursor: pointer;
}

.contact #company_view .thumbnails > div.-on {
    opacity: 0.3;
}

.contact #company_view .thumbnails > div:last-child {
    margin-right: 0px;
}



