#p_n_s_thumb_container > div {
    width: 306px;
    height: 320px;
    margin: 10px;
}

#p_n_s_thumb_container > div:hover {
    color: #00ffff;
}

#p_n_s_thumb_container > div > .thumbnail {
    width: 100%;
    height: 240px;
}

#p_n_s_thumb_container > div > .title {
    margin: 16px 0px 0px 8px;
    font-size: 1.6em;
    font-weight: bold;
}

#p_n_s_thumb_container > div > .subtitle {
    margin: 8px;
    font-size: 1.3em;
    color: #808080;
}

#top_margin {
    width: 100%;
    margin-bottom: 100px;
    border-top: 2px solid #bfbfbf;
}

.p_n_s_left {
    width: 640px;
    margin-right: 80px;
}

.p_n_s_right {
    width: 260px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 14px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 48px;
}

#p_n_s_thumbnail {
    width: 640px;
    height: 480px;
    margin-bottom: 20px;
}

#siblings {
    width: 100%;
    margin-top: 100px;
    color: #ababab;
    text-align: right;
    font-size: 1.6em;
}

#siblings > div {
    margin-bottom: 16px;
}

#siblings > div:hover {
    color: #333333;
}

#pics_left,
#pics_right {
    width: 40px;
    height: 140px;
    opacity: 0.5;
}

#pics_left:hover,
#pics_right:hover {
    opacity: 1;
}

#pics {
    width: 560px;
    height: 140px;
    overflow: hidden;
}

#pics_container {
    height: 140px;
}

#pics_container > div {
    width: 140px;
    height: 140px;
    padding: 4px;
}

#pics_container > div:hover {
    background-color: #00ffff;
}

#pics_container > div > div {
    width: 100%;
    height: 100%;
}

.p_n_s_divider {
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    margin: 32px 0px 32px 0px;
}

#project_spec {
    font-size: 1.4em;
}

#project_spec > div {
    margin-bottom: 12px;
}

#project_spec > div > div:first-child {
    width: 100px;
    font-weight: bold;
}

#in_charge_info {
    width: 140px;
    height: 150px;
    font-size: 1.3em;
}

#in_charge_info .title {
    font-weight: bold;
    margin: 4px 0px 28px 0px;
}

#in_charge_info span {
    font-size: 1.1em;
    line-height: 24px;
    letter-spacing: -1px;
}

#in_charge_info .contact {
    position: absolute;
    bottom: 0px;
    color: #bfbfbf;
    font-weight: bold;
}

#in_charge_photo {
    width: 120px;
    height: 150px;
}

.prom_n_ss_list_item {
    width: 100%;
    height: 120px;
    cursor: pointer;
    margin-bottom: 12px;
    color: white;
}

.prom_n_ss_list_item:first-child {
    margin-top: 20px;

}

.prom_n_ss_list_item .prom_n_ss_thumbnail {
    width: 100%;
    height: 100%;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .dark {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail:hover .dark {
    opacity: 0.7;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .prom_n_ss_title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: white;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .prom_n_ss_title > div {
    display: table-cell;
    vertical-align: middle;
}

.prom_n_ss_list_item .prom_n_ss_thumbnail .prom_n_ss_title > div > div {
    font-size: 1.6em;
    margin: 0 auto;
    display: inline-block;
    max-width: 120px;
    line-height: 1.3em;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.prom_n_ss_list_item:hover .prom_n_ss_thumbnail .prom_n_ss_title > div > div {
    border-bottom: 2px solid white;
}

.scenes_category {
    font-size: 1.8em;
    font-weight: bold;
    margin: 48px 0px 8px 12px;
}

.scenes_category:first-child {
    margin-top: 0px;
}

.scenes_container > div {
    width: 210px;
    height: 200px;
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
}

.scenes_container > div:hover {
    background-color: #00ffff;
}

.scenes_container > div > div {
    width: 190px;
    height: 150px;
}

.scenes_container h4 {
    margin-top: 12px;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 48px;
}

#map_desc {
    margin-top: 12px;
    font-size: 1.3em;
}

#hashtags > div {
    font-size: 1.3em;
    margin-right: 12px;
    height: 19px;
    line-height: 19px;
}

#hashtags > div:hover {
    color: #00ffff;
}

