.process #scroll_numbers {
    text-align: center;
    margin: 40px;
}

.process #scroll_numbers span {
    font-size: 2em;
    color: #dedede;
    font-weight: bolder;
    margin: 10px;
}

.process #scroll_numbers a:first-child span {
    color: #808080;
}

.process {
    color: white;
}

.processes {
    margin-bottom: -80px;
}

.processes > div > .space {
    height: 100px;
    text-align: center;
}

.processes > div > .space img {
    margin-top: 64px;
}

.processes > div > .content {
    width: 720px;
    margin: 0 auto;
}

.process h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.process h2 {
    font-size: 1.6em;
}

.process span {
    font-size: 1.3em;
    line-height: 1.6em;
}

.process .columns {
    margin-top: 64px;
}

.process .columns > div {
    width: 320px;
}

.process .columns > div:nth-child(even) {
    width: 80px;
    height: 1px;
}

.process .columns > div > div {
    padding: 12px 0px 12px 0px;
}

.process .columns > div > div:first-child {
    border-bottom: 1px solid white;
}

.process .columns > div > div:nth-child(3) {
    font-size: 1.3em;
    width: 144px;
    margin: 18px auto 0px;
    border: 1px solid white;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

.process .columns > div > div:nth-child(3):hover {
    text-decoration: underline;
}

#process_2, #process_3, #process_4 {
    display: none;
}

.con_apply .circles,
.contract_story .circles {
    color: white;
    text-align: center;
    height: 176px;
    width: 868px;
    margin: 0 auto 48px;
}

.con_apply .circles > div,
.contract_story .circles > div {
    width: 176px;
    height: 176px;
    font-size: 1.2em;
    border: 1px solid #eaeaea;
    border-radius: 100px;
    margin-right: 48px;
    box-sizing: border-box;
    display: table;
    cursor: pointer;
    color: #bfbfbf;
    display: table;
    letter-spacing: -1px;
    line-height: 1.3em;
}

.con_apply .circles > div > div,
.contract_story .circles > div > div {
    display: table-cell;
    vertical-align: middle;
}

.con_apply .circles > div > div > div,
.contract_story .circles > div > div > div {
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 2px;
    margin: 12px auto 12px;

}

.con_apply .circles > div.-on > div > div,
.contract_story .circles > div.-on > div > div {
    border-radius: 0px;
    width: 64px;
    height: 1px;
    background-color: #808080;
}

.con_apply .circles > div h1,
.contract_story .circles > div h1 {
    font-size: 1.2em;
    letter-spacing: -0px;
    font-weight: bold;
}

.con_apply .circles > div.-on,
.con_apply .circles > div:hover,
.contract_story .circles > div.-on,
.contract_story .circles > div:hover {
    background-color: #eaeaea;
    color: #808080;
}

.con_apply .circles > div:last-child,
.contract_story .circles > div:last-child {
    margin-right: 0px;
}

.con_apply .form,
.as_apply .form {
    padding-top: 36px;
    border-top: 2px solid #bfbfbf;
    color: #808080;
    font-size: 1.3em;
}

.con_apply .form > span,
.as_apply .form > span {
    font-size: 1.6em;
    font-weight: bold;
}

.con_apply .form .columns,
.as_apply .form .columns {
    margin-top: 56px;
}

.con_apply .form  .columns > div,
.as_apply .form  .columns > div {
    width: 50%;
}

.con_apply .form .field,
.as_apply .form .field {
    height: 36px;
}

.con_apply .form .item,
.as_apply .form .item {
    font-weight: bold;
    width: 92px;
    height: 36px;
    line-height: 36px;
}

.con_apply .form .field span,
.as_apply .form .field span {
    line-height: 36px;
}

.con_apply .form .field > *,
.as_apply .form .field > * {
    margin-right: 6px;
}

.con_apply .form input,
.as_apply .form input,
.con_apply .form select {
    border: 0;
    border-bottom: 1px solid #cdcdcd;
    outline: none;
    color: #555555;
}

.con_apply .form input,
.as_apply .form input {
    padding-left: 4px;
    height: 30px;
}

.con_apply .form select {
    height: 24px;
    margin-top: 6px;
}

.con_apply .form #name input,
.as_apply .form #name input {
    width: 100px;
}

.con_apply .form .field .button,
.as_apply .form .field .button {
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #dedede;
    cursor: pointer;
    margin-top: 6px;
}

.con_apply .form .field .button:hover,
.as_apply .form .field .button:hover {
    border: 1px solid #bfbfbf;
}

.con_apply .form #phone input,
.as_apply .form #phone input {
    width: 60px;
}

.con_apply .form #email input {
    width: 120px;
}

.as_apply .form #project_name input {
    width: 260px;
}

.con_apply .form #address_1 input,
.con_apply .form #address_2 input,
.con_apply .form #address_3 input,
.as_apply .form #address_1 input,
.as_apply .form #address_2 input,
.as_apply .form #address_3 input {
    width: 260px;
}

#address_add_2,
#address_add_3 {
    padding-left: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

#address_add_3,
#address_2,
#address_3 {
    display: none;
}

.con_apply .form #purpose input {
    width: 328px;
}

.con_apply .form #scale input {
    width: 50px;
}

.con_apply .form #date input {
    width: 328px;
}

.con_apply select {
    font-size: 0.9em;
}

.con_apply #yongdo_sub,
.con_apply #gujo_sub {
    display: none;
}

.con_apply .form #budget input {
    width: 100px;
}

.con_apply .form #meeting input {
    width: 120px;
}


.con_apply .form textarea,
.as_apply .form textarea {
    border: 1px solid #dedede;
    width: 888px;
    height: 200px;
    margin-top: 12px;
    outline: none;
}

.con_apply #submit_button_container,
.as_apply #submit_button_container {
    height: 72px;
}

.con_apply #submit_button_container > div,
.as_apply #submit_button_container > div {
    width: 100px;
    font-size: 1.1em;
    padding: 14px 0px 14px 0px;
    color: white;
    background-color: #666666;
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: center;
    cursor: pointer;
}

.con_apply #submit_button_container > div:hover,
.as_apply #submit_button_container > div:hover {
    background-color: #555555;
}

.con_apply #lock {
    background-image: url("/assets/images/interface/consulting_lock_off.png");
}

.con_apply #lock.-on {
    background-image: url("/assets/images/interface/consulting_lock_on.png");
}

