
.promotion_list_item {
    width: 100%;
    margin-bottom: 20px;
    height: 200px;
    cursor: pointer;
}

.promotion_list_item .texts {
    border-top: 2px solid #c9c9c9;
    padding: 44px 4px 4px 4px;
    width: 300px;
    height: 100%;
    color: #808080;
}

.promotion_list_item:hover .texts {
    color: #00ffff;
}

.promotion_list_item .texts div {
    font-size: 2em;
    margin-bottom: 24px;
}

.promotion_list_item .texts span {
    font-size: 1.3em;
}

.promotion_list_item .thumbnail {
    width: 360px;
    height: 100%;
    margin-left: 40px;
}

.space_story_list_item {
    width: 33.3%;
    height: 220px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.space_story_list_item .ss_thumbnail {
    width: 100%;
    height: 100%;
}

.space_story_list_item .ss_thumbnail .dark {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.space_story_list_item .ss_thumbnail:hover .dark {
    opacity: 0.7;
}

.space_story_list_item .ss_thumbnail .ss_title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: white;
}

.space_story_list_item .ss_thumbnail .ss_title > div {
    display: table-cell;
    vertical-align: middle;
}

.space_story_list_item .ss_thumbnail .ss_title > div > div {
    font-size: 1.6em;
    margin: 0 auto;
    display: inline-block;
    max-width: 120px;
    line-height: 1.3em;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.space_story_list_item:hover .ss_thumbnail .ss_title > div > div {
    border-bottom: 2px solid white;
}
