form { font-size: 1.3em;
    color: #808080;
}

form span {
    margin-right: 7px;
    line-height: 36px;
}

form > div {
    height: 36px;
}

form .item {
    font-weight: bold;
    width: 92px;
    height: 36px;
    line-height: 36px;
}

form input {
    padding-left: 4px;
    height: 30px;
}

form div.title input {
    width: 606px;
}

form iframe {
    margin-top: 12px;
}

#prom_thumbnail {
    width: 360px;
    height: 200px;
    border: 1px solid #dedede;
    margin-top: 8px;
}

#thumbnail_btns {
    margin: 8px 0px 16px 0px;
}