.page_message {
    padding-bottom: 80px;
}

.page_message h1 {
    font-size: 3.4em;
    font-weight: bold;
    line-height: 2em;
    color: #808080;
}

.page_message h2 {
    font-size: 2.8em;
    line-height: 1.8em;
    color: #dedede;
}

.filters, .tabs {
    font-size: 1.4em;
    line-height: 1.4em;
    padding-top: 18px;
    margin-bottom: 48px;
    border-top: 2px solid #bfbfbf;
    overflow: hidden;
}

.filters > div,
.tabs > div {
    padding: 0px 28px 0px 28px;
    cursor: pointer;
    border-right: 1px solid #bfbfbf;
}

.filters select {
    border: 0px;
    outline: none;
}

.filters > div:last-child,
.tabs > div:last-child {
    border-right: 0px;
}

.tabs {
    color: #bfbfbf;
}

.filters .title:hover,
.tabs div:hover {
    color: #00ffff;
}

.tabs div.on {
    color: #333333;
}

.filters span {
    color: #bfbfbf;
}

.filters .items {
    margin-top: 12px;
    font-size: 0.9em;
    display: none;
}

.filters > div:hover .items, .filters > div .items.-on {
    display: block;
}


.filters .items span {
    color: #808080;
    line-height: 1.8em;
}

.filters .items span:last-child {
    font-size: 0.9em;
}

.filters .items > div:hover span, .filters .items > div.-on span {
    color: #333333;
    font-weight: bold;
}

