.top {
    height: 336px;
}

.top #top_logo {
    position: absolute;
    /*left: 0px;*/
    top: 60px;
}

.top #account {
    height: 26px;
    position: absolute;
    top: 60px;
    right: 0px;
    font-size: 1.3em;
}

.top #account input {
    height: 24px;
    border: 0px;
    text-align: right;
    padding: 0px 6px 0px 6px;
}

.top #account input:focus {
    box-shadow: 0px;
    outline: 1px solid #dedede;
}

.top #account img {
    float: left;
    cursor: pointer;
    margin: 0px 6px 0px 6px;
    vertical-align: middle;
}

.top #account > div {
    height: 24px;
    line-height: 24px;
}

.top #account span {
    cursor: pointer;
    margin-left: 12px;
}

.top #account span:hover {
    color: #00ffff;
}

.top #account .login_interface {
    margin-left: 20px;
    display: none;
}

.top #account .login_interface input {
    float: none;
    border: 1px solid #dedede;
    width: 60px;
}


.top #navigate {
    position: absolute;
    right: 0px;
    top: 152px;
    text-align: center;
    letter-spacing: -0.5px;
}

.top #navigate > div {
    float: left;
}

.top #navigate > div:hover {
    color: #00ffff;
}

.top #navigate div div {
    width: 102px;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
}

.top #navigate div.-on div {
    border-bottom: 3px solid #555555;
}

.top #navigate li {
    margin: 12px 0px 12px 0px;
    font-size: 1.3em;
    color: #cdcdcd;
    cursor: pointer;
}

.top #navigate li:hover {
    color: #00ffff;
}

.top #navigate li.-on {
    color: #333333;
    font-weight: bold;
}
