.footer_wrapper {
    width: 100%;
    background-color: #333333;
}

.footer {
    width: 980px;
    padding: 64px 0px 40px 0px;
    margin: 80px auto 0;
}

.footer .circles {
    margin: 0 auto;
    color: white;
    text-align: center;
    height: 150px;
    width: 746px;
}

.footer .circles > div {
    width: 150px;
    height: 150px;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 100px;
    margin-right: 48px;
    box-sizing: border-box;
    display: table;
    cursor: pointer;
}

.footer .circles > div:hover {
    border-color: #00ffff;
    color: #00ffff;
}

.footer .circles > div:last-child {
    margin-right: 0px;
}

.footer .circles > div > span {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5em;
}

.footer hr {
    display: block;
    border-bottom: 1px solid white;
    margin: 60px auto 40px;
}

.footer .info {
    color: white;
    font-size: 1.3em;
    line-height: 2em;
}

.footer .info > div:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 256px;
}

.footer .info img {
    position: absolute;
    top: 0px;
    right: 0px;
}
