@import "common_top.css";
@import "common_footer.css";
@import "common_others.css";

html {
    font-size: 10px;
    color: #333333;
    font-family: sans-serif, Dotum,'돋움',Helvetica,AppleSDGothicNeo;
}

* {
    box-sizing: border-box;
}

table {
    width: 100%;
    outline: 0;
}

th {
    background-color: #4d4d4d;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 1.4em;
    padding: 16px 0px 16px 0px;
}

th div {
    height: 100%;
    border-right: 1px solid white;
}

th:last-child div {
    border-right: 0px;
}

a {
    text-decoration: none;
}

.centered_wrapper {
    width: 980px;
    margin: 0 auto;
}

td {
    font-size: 1.3em;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dedede;
    text-align: center;
    cursor: pointer;
}

td._left {
    text-align: left;
    padding-left: 24px;
}

tr:hover td {
    color: sandybrown;
}