@import "common_top.css";
@import "common_footer.css";

html {
    font-size: 10px;
    color: #333333;
    font-family: sans-serif, Dotum,'돋움',Helvetica,AppleSDGothicNeo;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

