._pos_rel {
    position: relative;
}

._float_con {
    overflow: hidden;
}

._float_con:after {
    clear: both;
}

._float_con > * {
    float: left;
}

._hidden {
    display: none;
}

._pointer {
    cursor: pointer;
}

._grey {
    color: #989898;
}