@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], commonUtil: CommonUtil, siteses: List[Map[String, Any]])

<div id="sites_container" class="_float_con">
    @for(sites <- siteses) {
        <div id="dash_sts_@sites("view_sites.sts_idx")" style="background-image: url('http://@sites("view_sites.sts_thumbnail")');"
        class="url_link _pointer _pos_rel" onclick="navigate('/sites_view/@sites("view_sites.sts_pj_idx")')">

            <div>
                <div class="title">@sites("view_sites.pj_title")</div>
                <div class="category">| @if(sites("view_sites.sts_category").toString == "in_progress"){현장상황}else{완공현장}</div>
            </div>
            <script>
                imageProcessor().image_process("#dash_sts_@sites("view_sites.sts_idx")");
            </script>
        </div>
    }
</div>