@(page_data: Map[String, Any], user_data: List[Map[String, Any]], people_data: List[Map[String, Any]])

@main(page_data, user_data) {
    <script src="@routes.Assets.versioned("js/_1_intro.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/_1_intro.css")">

    <div class="filters _float_con">
        <div id="all">
            <div class="title">A3 Group</div>
        </div>
        <div>
            <div class="title">사업부 선택</div>
            <div class="items">
                <div id="A3 그룹">
                    <span>(주)A3</span>
                    <span>- 그룹</span>
                </div>
                <div id="A3 D&D">
                    <span>(주)A3 D&D</span>
                    <span>- 부동산개발사업부</span>
                </div>
                <div id="A3 건설">
                    <span>(주)A3 건설</span>
                    <span>- 건축시공사업부</span>
                </div>
                <div id="건축사사무소 A3">
                    <span>(주)건축사사무소 A3</span>
                    <span>- 건축설계사업부</span>
                </div>
                <div id="A3 디자인">
                    <span>(주)A3 디자인</span>
                    <span>- 인테리어사업부</span>
                </div>
                @*<div>*@
                    @*<span>(주)A3 윈도우</span>*@
                    @*<span>- 금속창호사업부</span>*@
                @*</div>*@
            </div>
        </div>
    </div>

    <div class="people _float_con">
        @for(people <- people_data) {
            <div id="@people("tbl_people.ppl_department")">
                <div class="photo _pos_rel" id="@people("tbl_people.idx")">
                    <img>
                </div>
                <div class="profiles">
                    <span class="name_kor">@people("tbl_people.ppl_name")</span>
                    <span class="name_eng">@people("tbl_people.ppl_name_eng")</span>
                    <br>
                    <span>@people("tbl_people.ppl_department")</span>
                    <span>@people("tbl_people.ppl_position")</span>

                </div>
            </div>
        }
    </div>
}
