@(page_data: Map[String, Any], user_data: List[Map[String, Any]])

@main(page_data, user_data) {
    <script src="@routes.Assets.versioned("js/_1_intro.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/_1_intro.css")">

    <div class="centered_wrapper">
        <div id="about_1" style="background-image: url('@routes.Assets.versioned("images/interface/about_1.jpg")')"></div>

        <div id="sites_tabs" class="tabs _float_con">
            <div class="on" id="value">A3그룹 가치</div>
            <div id="bi_n_departments">BI&사업부 소개</div>
            <div id="history">걸어온 길</div>
        </div>

        <div class="section" id="value_section">
            <div class="about_subtitle">
                BRAND IDENTITY
            </div>

            <div id="about_value_1" style="background-image: url('@routes.Assets.versioned("images/interface/about_value_1.jpg")')"></div>
            <div id="about_value_2" style="background-image: url('@routes.Assets.versioned("images/interface/about_value_2.jpg")')"></div>
            <div id="about_value_3" style="background-image: url('@routes.Assets.versioned("images/interface/about_value_3.jpg")')"></div>

            <div class="about_a _float_con">
                <div class="short"><img src="@routes.Assets.versioned("images/interface/a_off.png")"></div>
                <div class="long _pos_rel">
                    <div>
                        <h1>A</h1>
                        A3는 세상에 없던 단 하나의 건축회사가<br>되고자 합니다. 탄탄한 기본기와<br>정직을 바탕으로 혁신을 선물하려 합니다.<br>창의적 디자인에 대한 끊임없는 연구,<br> 효율적 공간 이용을 통한 가치창조는<br>A3의 존재이유입니다.
                    </div>
                </div>
            </div>
            <div class="about_a _float_con _right_align">
                <div class="long _pos_rel _right_align">
                    <div>
                        <h1>ACT</h1>
                        A3는 주인정신과 도전정신을 겸비한<br>행동하는 건축전문가입니다.<br>열심에 세심을 더해 동료들과의 협업과정을<br>통해 주어진 업무에책임감을 다하는 글로벌<br>빌더가 되고자 합니다.
                    </div>
                    <img src="@routes.Assets.versioned("images/interface/6dimens_off.png")">
                </div>
                <div class="short"><img src="@routes.Assets.versioned("images/interface/a_off.png")"></div>
            </div>
            <div class="about_a _float_con">
            <div class="short"><img src="@routes.Assets.versioned("images/interface/a_off.png")"></div>
                <div class="long _pos_rel">
                    <div>
                        <h1>ABOUT</h1>
                        A3는 기술과 신뢰를 바탕으로 고객의 꿈과 미래를 생각합니다.<br>경청의 자세로 소통과 협력을 통해<br>최고의 Dream Builder가 되고자 합니다.
                    </div>
                </div>
            </div>

        </div>

        <div class="section" id="bi_n_departments_section">
            <div class="about_subtitle">
                BRAND IDENTITY
            </div>
            <div id="about_bi" class="_float_con _right_align">
                <div style="background-image: url('@routes.Assets.versioned("images/interface/a3_bi.png")')"></div>
                <img src="@routes.Assets.versioned("images/Interface/a3_bi_desc.png")">
            </div>

            <div id="about_desc" class="_float_con">
                <div>
                    <div class="_right_align">
                        <div onmouseenter="about_bi(1);">우리, 나 <span>US, ME</span></div>
                        <div onmouseenter="about_bi(2);">상대방, 고객 <span>OTHERS</span></div>
                        <div onmouseenter="about_bi(3);">지표면, 연결 다리 <span>CONNECTION</span></div>
                        <div onmouseenter="about_bi(4);">공간 창조 <span>CREATING SPACE</span></div>
                    </div>
                </div>
                <div>
                    <div id="about_desc_1" class="_on">
                        A3는 ‘우리’, ‘나’가 모여 만들어집니다. 상대방의 다름을<br>인정하고 격려와 칭찬으로 주인정신과 도전정신 가득한<br>A3인이 탄생합니다.
                    </div>
                    <div id="about_desc_2">
                        언제나 고객과 함께 고객의 사랑으로<br>A3의 오늘이 있을 수 있었습니다.<br>고객과의 소통과 사랑을 밑거름으로 고객의 미래를<br>뻔하지 않고 FUN하게 만들어드리겠습니다.
                    </div>
                    <div id="about_desc_3">
                        디자인 역량을 맘껏 펼치고 활용할 수 있는 땅, 대지를 말합니다.<br>대지분석부터 설계까지 고객과 진심어린 소통으로<br>고객님을 꿈의 공간으로 이끌게 됩니다.
                    </div>
                    <div id="about_desc_4">
                        설계부터 시공 및 인테리어까지 건축물의 내 외부를 망라한<br>건축관련 토털 원스탑 서비스를 제공합니다.<br>첫삽을 뜰 때부터 비계를 풀 때까지 고객님은<br>그 감동의 현장을 선명하게 지켜보실수 있습니다.
                    </div>
                </div>
            </div>

            <div class="about_subtitle">
                A3그룹 사업부 소개
            </div>
            <div id="about_circles" class="_float_con">
                <div class="circle">
                    <div>
                        <div class="work">
                            <div>DEVELOPERS</div>
                        </div>
                        <div class="department">
                            ㈜A3D&D
                        </div>
                        <div class="desc">
                            부동산개발사업부
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="circle">
                    <div>
                        <div class="work">
                            <div>BUILDING<br>CONSTRUCTION</div>
                        </div>
                        <div class="department">
                            ㈜A3건설
                        </div>
                        <div class="desc">
                            건설사업부
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="circle">
                    <div>
                        <div class="work">
                            <div>ARCHITECTURE<br>DESIGN</div>
                        </div>
                        <div class="department">
                            ㈜건축사사무소A3
                        </div>
                        <div class="desc">
                            건축설계사업부
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="circle">
                    <div>
                        <div class="work">
                            <div>INTERIOR<br>DESIGN</div>
                        </div>
                        <div class="department">
                            ㈜A3디자인
                        </div>
                        <div class="desc">
                            인테리어사업부
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="circle">
                    <div>
                        <div class="work">
                            <div>CONTAIN<br>MODULAR</div>
                        </div>
                        <div class="department">
                            ㈜A3박스
                        </div>
                        <div class="desc">
                            컨테이너사업부
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="history_section">
            <div class="about_subtitle">
                걸어온 길
            </div>
            <div id="history_div" class="_float_con">
                <div>
                    <div>
                        <span>●</span>
                        <h1>2009-2010</h1>
                        <div>(주)디큐브종합건설 법인 설립<br>사옥 착공<br>종합건설업면허 취득<br>사옥건설</div>
                    </div>
                    <div>
                        <span>●</span>
                        <h1>2011</h1>
                        <div>현 대표, 기술이사 취임<br>사옥 준공 및 이전<br>현 대표, 기술이사 취임<br>홈페이지 오픈</div>
                    </div>
                    <div>
                        <span>●</span>
                        <h1>2012</h1>
                        금속 창호 사업부 출범<br>인테리어 사업부 출범
                    </div>
                </div>
                <div>
                    <div>
                        <span>●</span>
                        <h1>2013</h1>
                        <div>종합건설 ‘디큐브’에서 ‘A3’로 상호변경<br>부동산개발 사업부 출범</div>
                    </div>
                    <div>
                        <span>●</span>
                        <h1>2014</h1>
                        <div>D3건축사사무소 개설<br>
                            건축사사무소 설계팀 확장 (AHN건축사사무소) 및 3D전문팀 출범<br>
                            한동대학교와 업무협약<br>
                            국토정보공사 문경지사 사옥신축공사 수주 (입찰)<br>
                        </div>
                    </div>
                    <div>
                        <span>●</span>
                        <h1>2015</h1>
                        <div>임직원 준법경영 실천 결의<br>포항시 양덕동 생활체육시설공사 수주 (입찰)<br>제8회 포항시 건축문화상(일반건축부문) 최우수상 수상<br>(주)A3건설 시공팀 확장
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span>●</span>
                        <h1>2016</h1>
                        <div>(주)건축사사무소 A3 설립 (D3, AHN 합병 출범)<br>A3그룹 홈페이지 전면개편<br>온라인 현장관리 시스템 실시</div>
                    </div>
                </div>

            </div>
        </div>


    </div>
}
