@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], sites: Map[String, Any], children: Map[String, Any], sets: List[Map[String, Any]], promotions: List[Map[String, Any]], spaceStories: List[Map[String, Any]], commonUtil: CommonUtil)

@main(page_data, user_data) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/_23_portfolio_n_sites.css")">

    <div class="centered_wrapper">
        <div id="top_margin"></div>
        <div class="_float_con">
            <div class="p_n_s_left">
                <h1>@sites("view_sites.pj_title")</h1>
                <h2>@sites("view_sites.pj_subtitle")</h2>
                <div id="p_n_s_thumbnail" style="background-image: url('http://@sites("view_sites.sts_thumbnail")')"></div>
                <script>
                    imageProcessor().image_process('#p_n_s_thumbnail')
                </script>

            </div>
            <div class="p_n_s_right">
                <div id="siblings">
                    @if(page_data("category")!="construction"&&children("construction")!="0") {
                        <div class="_pointer" onclick="navigate('/portfolio_view/@sites("view_sites.pj_idx")/construction')">→ 시공과정 보기</div>
                    }
                    @if(page_data("category")!="design"&&children("design")!="0") {
                        <div class="_pointer" onclick="navigate('/portfolio_view/@sites("view_sites.pj_idx")/design')">→ 설계과정 보기</div>
                    }
                    @if(page_data("category")!="interior"&&children("interior")!="0") {
                        <div class="_pointer" onclick="navigate('/portfolio_view/@sites("view_sites.pj_idx")/interior')">→ 인테리어 보기</div>
                    }
                    @if(page_data("category")!="sites"&&children("sites")!="0") {
                        <div class="_pointer" onclick="navigate('/sites_view/@sites("view_sites.pj_idx")')">→ 현장모습 보기</div>
                    }
                </div>

            </div>
        </div>

        <div class="p_n_s_divider"></div>

        <div class="_float_con">
            <div id="project_spec" class="p_n_s_left">
                <div class="_float_con">
                    <div>건물위치</div>
                    <div>@sites("view_sites.pj_location")</div>
                </div>
                <div class="_float_con">
                    <div>대지면적</div>
                    <div>@sites("view_sites.pj_daeji")㎡</div>
                </div>
                <div class="_float_con">
                    <div>건축면적</div>
                    <div>@sites("view_sites.pj_gunchuk")㎡</div>
                </div>
                <div class="_float_con">
                    <div>연면적/규모</div>
                    <div>@sites("view_sites.pj_yeon")㎡ / @sites("view_sites.pj_gyumo")</div>
                </div>
                <div class="_float_con">
                    <div>구조/재료</div>
                    <div>@sites("view_sites.pj_gujo") / @sites("view_sites.pj_jaeryo")</div>
                </div>
                <div class="_float_con">
                    <div>상태</div>
                    <div>@sites("view_sites.pj_state")</div>
                </div>

            </div>
            <div class="p_n_s_right">
                <div class="_float_con">
                    <div id="in_charge_info" class="_pos_rel">
                        <div class="title">현장 관리자</div>
                        <span>@sites("view_sites.sts_in_charge_from")</span>
                        <br>
                        <span>@sites("view_sites.sts_in_charge")</span>
                        <div class="contact _pointer" onclick="navigate('/intro/contact')">→ 연락처 보기</div>

                    </div>
                    <div id="in_charge_photo" style="background-image: url('http://@sites("view_sites.sts_in_charge_photo")');"></div>
                    <script>
                            imageProcessor().image_process('#in_charge_photo')
                    </script>

                </div>

            </div>
        </div>

        <div class="p_n_s_divider"></div>

        <div class="_float_con">
            <div class="p_n_s_left">

            @for(set <- sets) {
                <h3 class="scenes_category">@set("category")</h3>
                <div class="scenes_container _float_con">
                @for(scene <- set("scenes").asInstanceOf[List[Map[String, Any]]]) {
                    <div class="_pos_rel _pointer">
                        <div id="thumb_@scene("tbl_sites_pic.stsp_idx")" style="background-image: url('http://@scene("tbl_sites_pic.stsp_url")')"></div>
                        <h4>@scene("tbl_sites_pic.stsp_title")</h4>
                        <script>
                    imageProcessor().image_process("#thumb_@scene("tbl_sites_pic.stsp_idx")")
                </script>
                    </div>
                }
                </div>
            }

            </div>

            <div class="p_n_s_right">

            @for(space_story <- spaceStories) {
                <div class="prom_n_ss_list_item url_link"
                onclick="navigate('/news/space_story_view/@space_story("tbl_space_story.ss_idx")')"
                >

                    <div class="prom_n_ss_thumbnail image_fit _pos_rel"
                    id="thumb_ss_@space_story("tbl_space_story.ss_idx")"
                    style="background-image: url('http://@space_story("tbl_space_story.ss_thumbnail")');">

                        <div class="dark"></div>
                        <div class="prom_n_ss_title">
                            <div>
                                <div>
                                @space_story("tbl_space_story.ss_title")
                                </div>
                            </div>
                        </div>

                    </div>

                    <script>
                        imageProcessor().image_process("#thumb_ss_@space_story("tbl_space_story.ss_idx")")
                    </script>
                </div>
            }


            @for(promotion <- promotions) {
                <div class="prom_n_ss_list_item url_link"
                onclick="navigate('/news/promotion_view/@promotion("tbl_promotion.prom_idx")')"
                >

                    <div class="prom_n_ss_thumbnail image_fit _pos_rel"
                    id="thumb_prom_@promotion("tbl_promotion.prom_idx")"
                    style="background-image: url('http://@promotion("tbl_promotion.prom_thumbnail")');">

                        <div class="dark"></div>
                        <div class="prom_n_ss_title">
                            <div>
                                <div>
                                @promotion("tbl_promotion.prom_title")
                                </div>
                            </div>
                        </div>

                    </div>

                    <script>
                    imageProcessor().image_process("#thumb_prom_@promotion("tbl_promotion.prom_idx")")
                </script>
                </div>
            }
                

            </div>

        </div>

    </div>
}
