@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], commonUtil: CommonUtil, siteses: List[Map[String, Any]], count: Int, board_page: Int)

<div id="p_n_s_thumb_container" class="_float_con">
    @for(sites <- siteses) {
        <div class="url_link _pointer" data-url="/sites_view/@sites("tbl_sites.sts_pj_idx")">
            <div id="thumb_@sites("tbl_sites.sts_idx")" style="background-image: url('http://@sites("tbl_sites.sts_thumbnail")');" class="thumbnail"></div>
            <div class="title">@sites("tbl_project.pj_title")</div>
            <div class="subtitle">@sites("tbl_project.pj_subtitle")</div>
        </div>

        <script>
            imageProcessor().image_process("#thumb_@sites("tbl_sites.sts_idx")");
        </script>
    }
</div>

<div id="pages_container">
    <div id="pages" class="_float_con">
        <img id="move_left" src="@routes.Assets.versioned("/images/interface/pages_left.png")">
        <div id="numbers">
            <div id="numbers_lined" class="_float_con">
                @for(pageNo <- 1 to count) {
                    @if(pageNo == board_page) {
                        <div class="number -on">@pageNo</div>
                    } else {
                        <div class="number">@pageNo</div>
                    }
            }
            </div>
        </div>
        <img id="move_right" src="@routes.Assets.versioned("/images/interface/pages_right.png")">
    </div>
</div>

