@(page_data: Map[String, Any], user_data: List[Map[String, Any]])

@main(page_data, user_data) {
    <script src="@routes.Assets.versioned("js/_4_consulting.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/_4_consulting.css")">

    <div id="scroll_numbers">
        <a href="#process_1">
            <span>1</span>
        </a>
        <a href="#process_2">
            <span onclick="showProcess('2')">2</span>
        </a>
        <a href="#process_3">
            <span onclick="showProcess('3')">3</span>
        </a>
        <a href="#process_4">
            <span onclick="showProcess('4')">4</span>
        </a>
    </div>
    <div class="processes">
        <div id="process_1">
            <div class="space"></div>
            <div class="content">
                <h1>01 컨셉 디자인 및 계획 제안</h1>
                <div class="columns _float_con">
                    <div>
                        <div>
                            <h2>컨셉 회의 및 작업</h2>
                        </div>
                        <div>
                            <span>
                                컨설팅 신청을 통해 고객과 담당 PM의 첫 미팅이 이루어집니다.  요구사항, 수익률 분석, 예산 등을 파악하여 디자인 컨셉 및 공간 계획을 진행합니다.
                                <br>
                                컨셉 디자인 작업은 20~30일 정도 소요되며 프로젝트에 따라 차이가 있을 수 있습니다.
                            </span>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div>
                            <h2>디자인 계획 제안 및 완료</h2>
                        </div>
                        <div>
                            <span>
                                두번째 미팅에서 프로젝트에 맞는 분석, 공간 계획, 3D 투시도와 같은 결과물로 디자인 계획을 제시하며 피드백과 조율을 통해 공간의 브랜드 아이덴티티에 맞는 디자인 컨셉과 공간구성을 만들어갑니다.
                                <br>
                                필요시 몇번의 미팅으로 계획안을 완료합니다.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space">
                <a href="#process_2">
                    <img onclick="showProcess('2')" src="@routes.Assets.versioned("/images/interface/process_down_arrow.png")">
                </a>
            </div>
        </div>
        <div id="process_2">
            <div class="space"></div>
            <div class="content">
                <h1>02 프로젝트 계약 및 행정절차 진행</h1>
                <div class="columns _float_con">
                    <div>
                        <div>
                            <h2>프로젝트 계약 및 실시도면 작업</h2>
                        </div>
                        <div>
                            <span>
                                디자인 계획안이 확정된 후에 프로젝트의 계약이 이루어지며 자신의 계약사항은 계약스토리에서 확인이 가능합니다.
                                <br>
                                계약 후에 건축도면 작업이 진행되며 인허가 시 필요한 도서가 작성됩니다.
                            </span>
                        </div>
                        <div>
                            계약 스토리 보기
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div>
                            <h2>행정절차 진행</h2>
                        </div>
                        <div>
                            <span>
                                필요도서가 완료되면 인허가 접수를 하며 허가 완료 후 착공준비가 들어갑니다.
                                <br>
                                이때 최종적으로 허가서, 실시도면을 전달되며 허가접수 이후 설계변경은 용역비가 추가로 발생함을 알려드립니다.
                            </span>
                        </div>
                        <div>
                            설계변경 현황 보기
                        </div>
                    </div>
                </div>
            </div>
            <div class="space">
                <a href="#process_3">
                    <img onclick="showProcess('3')" src="@routes.Assets.versioned("/images/interface/process_down_arrow.png")">
                </a>
            </div>
        </div>
        <div id="process_3">
            <div class="space"></div>
            <div class="content">
                <h1>03 시공 계약 및 공사 진행</h1>
                <div class="columns _float_con">
                    <div>
                        <div>
                            <h2>디테일 작업 및 시공자 선정</h2>
                        </div>
                        <div>
                            <span>
                                시공을 위한 디테일한 디자인과 세부견적작업을 통해  프로젝트에 따라 최종도면, 스펙북, 예산서 등이 전달되며 고객은 타 시공사와 비교하여 시공사를 선정합니다.
                            </span>
                        </div>
                        <div>
                            계약 스토리 보기
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div>
                            <h2>시공 계약 및 공사 진행</h2>
                        </div>
                        <div>
                            <span>
                                A3는 설계, 인테리어, 시공을 함께하는 종합회사로 디자인 프로세스를 한 번에 해결해 드립니다.
                                <br>
                                정직한 서비스와 다년간 시공경험을 가진 전문인력으로
                            </span>
                        </div>
                        <div>
                            A3 현장 가보기
                        </div>
                    </div>
                </div>
            </div>
            <div class="space">
                <a href="#process_4">
                    <img onclick="showProcess('4')" src="@routes.Assets.versioned("/images/interface/process_down_arrow.png")">
                </a>
            </div>
        </div>
        <div id="process_4">
            <div class="space"></div>
            <div class="content">
                <h1>04 사용승인 및 사후관리</h1>
                <div class="columns _float_con">
                    <div>
                        <div>
                            <h2>공사완료 및 사용승인</h2>
                        </div>
                        <div>
                            <span>
                                공사가 완료되면 준공서류를 접수하고 사용승인 절차가 진행됩니다. 사용승인이 완료되면 건축물 이용이 가능해집니다.
                            </span>
                        </div>
                        <div>
                            시공사례 보기
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div>
                            <h2>A/S 사후관리</h2>
                        </div>
                        <div>
                            <span>
                                A3는 준공 후 집사용설명서를 제공하며 사후관리 까지 책임집니다. 홈페이지를 통해 A/S 신청이 가능합니다.
                                <br>
                                끝까지 함께하는 A3를 약속합니다.
                            </span>
                        </div>
                        <div>
                            집 사용 설명서 받기
                        </div>
                    </div>
                </div>
            </div>
            <div class="space">
                <a href="#process_1">
                    <img src="@routes.Assets.versioned("/images/interface/process_up_arrow.png")">
                </a>
            </div>
        </div>
    </div>
}
