@(page_data: Map[String, Any], user_data: List[Map[String, Any]])

@main(page_data, user_data) {
    <script src="@routes.Assets.versioned("js/_4_consulting.js")" type="text/javascript"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/_4_consulting.css")">

    <script src="@routes.Assets.versioned("js/_4_consulting.js")" type="text/javascript"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/_4_consulting.css")">

    <div class="centered_wrapper">

        <div class="form _pos_rel">
            <form name="con_apply_form" action="/consulting/as_apply_submit" method="post">
                <input id="created_input" type="hidden" name="created">

                <div class="columns _float_con">
                    <div>
                        <div id="name" class="field _float_con">
                            <div class="item">성함</div>
                            <input type="text" name="client_name" maxlength="20" value="@user_data(0)("tbl_user.user_name")">
                        </div>
                        <div id="phone" class="field _float_con">
                            <div class="item">휴대폰 번호</div>
                            <input type="text" name="client_phone_1" maxlength="5" value="@user_data(0)("tbl_user.user_mobile").toString.split('-')(0)">
                            <span>-</span>
                            <input type="text" name="client_phone_2" maxlength="5" value="@user_data(0)("tbl_user.user_mobile").toString.split('-')(1)">
                            <span>-</span>
                            <input type="text" name="client_phone_3" maxlength="5" value="@user_data(0)("tbl_user.user_mobile").toString.split('-')(2)">
                        </div>
                    </div>

                    <div>
                        <div id="project_name" class="field _float_con">
                            <div class="item">프로젝트명</div>
                            <input type="text" name="project_name" maxlength="50">
                        </div>
                        <div id="address_1" class="field _float_con">
                            <div class="item">프로젝트 예정지</div>
                            <input type="text" name="address_1" maxlength="50">
                            <div class="button" onclick="findAddress(1)">주소 찾기</div>
                        </div>
                        <div id="address_add_2">
                            + 필지 추가
                        </div>
                        <div id="address_2" class="field _float_con">
                            <div class="item">프로젝트 예정지</div>
                            <input type="text" name="address_2" maxlength="50">
                            <div class="button" onclick="findAddress(2)">주소 찾기</div>
                        </div>
                        <div id="address_add_3">
                            + 필지 추가
                        </div>
                        <div id="address_3" class="field _float_con">
                            <div class="item">프로젝트 예정지</div>
                            <input type="text" name="address_3" maxlength="50">
                            <div class="button" onclick="findAddress(3)">주소 찾기</div>
                        </div>
                    </div>
                </div>

                <div class="_float_con">
                    <div class="item">기타</div>
                    <textarea name="content" maxlength="2000"></textarea>
                </div>
                <div id="submit_button_container" class="_pos_rel">
                    <div>접수하기</div>
                </div>
            </form>
        </div>

    </div>
}
