@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], commonUtil: CommonUtil, promotions: List[Map[String, Any]], count: Int, board_page: Int)

@for(promotion <- promotions) {
    <div class="promotion_list_item _float_con url_link" data-url="/news/promotion_view/@promotion("tbl_promotion.prom_idx")">
        <div class="texts">
            <div>
                @promotion("tbl_promotion.prom_title")
            </div>
            <span>
                @promotion("tbl_promotion.prom_subtitle")
            </span>

        </div>
        <div id="thumb_@promotion("tbl_promotion.prom_idx")" class="thumbnail image_fit" style="background-image: url('http://@promotion("tbl_promotion.prom_thumbnail")');"></div>
        <script>
            imageProcessor().image_process("#thumb_@promotion("tbl_promotion.prom_idx")")
        </script>
    </div>
}

<div id="pages_container">
    <div id="pages" class="_float_con">
        <img id="move_left" src="@routes.Assets.versioned("/images/interface/pages_left.png")">
        <div id="numbers">
            <div id="numbers_lined" class="_float_con">
                @for(pageNo <- 1 to count) {
                    @if(pageNo == board_page) {
                        <div class="number -on">@pageNo</div>
                    } else {
                        <div class="number">@pageNo</div>
                    }
            }
            </div>
        </div>
        <img id="move_right" src="@routes.Assets.versioned("/images/interface/pages_right.png")">
    </div>
</div>

