@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], commonUtil: CommonUtil, promotion: Map[String, Any])

@main(page_data, user_data) {

    <div class="centered_wrapper">

        <table>
            <tr>
                <th width="72">
                    <div>@promotion("tbl_promotion.prom_idx")</div>
                </th>
                <th width="112">
                    <div>@commonUtil.contractStoryCategory(promotion("tbl_promotion.prom_category").toString)</div>
                </th>
                <th class="_left">
                    <div>@promotion("tbl_promotion.prom_title")</div>
                </th>
                <th width="100">
                    <div>@promotion("tbl_promotion.prom_modified").toString.split(' ')(0)</div>
                </th>
            </tr>
        </table>

        <div id="board_content_container">
            <div id="width_checker"></div>
            @Html(promotion("tbl_promotion.prom_content").toString)
        </div>
    </div>
}
