@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], commonUtil: CommonUtil, space_story: Map[String, Any])

@main(page_data, user_data) {

    <div class="centered_wrapper">

        <table>
            <tr>
                <th width="72">
                    <div>@space_story("tbl_space_story.ss_idx")</div>
                </th>
                <th width="112">
                    <div>@commonUtil.spaceStoryCategory(space_story("tbl_space_story.ss_category").toString)</div>
                </th>
                <th class="_left">
                    <div>@space_story("tbl_space_story.ss_title")</div>
                </th>
                <th width="100">
                    <div>@space_story("tbl_space_story.ss_modified").toString.split(' ')(0)</div>
                </th>
            </tr>
        </table>

        <div id="board_content_container">
            <div id="width_checker"></div>
            @Html(space_story("tbl_space_story.ss_content").toString)
        </div>
    </div>
}
