@(page_data: Map[String, Any], user_data: List[Map[String, Any]], project:Map[String, Any], options:Map[String, List[Map[String, Any]]], children: Map[String, Any])

@with_left_menu(page_data, user_data) {
    <script src="@routes.Assets.versioned("js/deleter.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/_A_admin_project_modify.js")" type="text/javascript"></script>
    
    <script language="JavaScript">
        var pfm = projectFormManager();

    </script>
    
    <div>
        <form action="/admin/project_submit/@if(project==null){0}else{@project("tbl_project.pj_idx")}" id="project_write" name="project_write" method="post">
            <input id="modified_input" type="hidden" name="modified">

            <div id="title" class="long_input _float_con">
                <div class="item">프로젝트명</div>
                <input type="text" name="title" maxlength="50" value="@if(project != null) {@project("tbl_project.pj_title")}">
            </div>
            <div id="subtitle" class="long_input _float_con">
                <div class="item">부제</div>
                <input type="text" name="subtitle" maxlength="50" value="@if(project != null) {@project("tbl_project.pj_subtitle")}">
            </div>
            <div id="client_name" class="_float_con">
                <div class="item">고객 이름</div>
                <input type="text" name="client_name" maxlength="50" value="@if(project != null) {@project("tbl_project.pj_client_name")}">
            </div>
            <div id="client_id" class="_float_con">
                <div class="item">고객 아이디</div>
                <input type="text" name="client_id" maxlength="50" value="@if(project != null) {@project("tbl_project.pj_client_id")}">
            </div>

            <div id="yongdo" class="_float_con">
                <div class="item">용도</div>
                <input type="text" name="yongdo" id="yongdo_input" maxlength="30" value="@if(project != null) {@project("tbl_project.pj_yongdo")}" readonly>
                <select id="yongdo_main" name="yongdo_main">
                    <option selected value="">-- 선택하세요 --</option>
                    @for(yongdo <- options("yongdos")) {
                        <option>@yongdo("tbl_project_yongdo.yongdo_main")</option>
                    }
                </select>
            </div>
            <div id="gujo" class="_float_con">
                <div class="item">구조</div>
                <input type="text" name="gujo" id="gujo_input" maxlength="30" value="@if(project != null) {@project("tbl_project.pj_gujo")}" readonly>
                <select id="gujo_main" name="gujo_main">
                    <option selected value="">-- 선택하세요 --</option>
                    @for(gujo <- options("gujos")) {
                        <option>@gujo("tbl_project_gujo.gujo_main")</option>
                    }
                </select>
            </div>

            <div id="jaeryo" class="_float_con">
                <div class="item">재료</div>
                <input type="text" name="jaeryo" maxlength="30" value="@if(project != null) {@project("tbl_project.pj_jaeryo")}">
            </div>
            <div id="year" class="_float_con">
                <div class="item">건축년도</div>
                <input type="text" name="year" maxlength="10" value="@if(project != null) {@project("tbl_project.pj_year")}">
            </div>
            <div id="location" class="long_input _float_con">
                <div class="item">주소</div>
                <input type="text" name="location" maxlength="50" value="@if(project != null) {@project("tbl_project.pj_location")}">
            </div>

            <div id="daeji" class="_float_con">
                <div class="item">대지면적</div>
                <input type="text" name="daeji" maxlength="10" value="@if(project != null) {@project("tbl_project.pj_daeji")}">
            </div>
            <div id="gunchuk" class="_float_con">
                <div class="item">건축면적</div>
                <input type="text" name="gunchuk" maxlength="10" value="@if(project != null) {@project("tbl_project.pj_gunchuk")}">
            </div>
            <div id="yeon" class="_float_con">
                <div class="item">연면적</div>
                <input type="text" name="yeon" maxlength="10" value="@if(project != null) {@project("tbl_project.pj_yeon")}">
            </div>
            <div id="gyumo" class="_float_con">
                <div class="item">규모</div>
                <input type="text" name="gyumo" maxlength="10" value="@if(project != null) {@project("tbl_project.pj_gyumo")}">
            </div>
            <div id="state" class="long_input _float_con">
                <div class="item">상태</div>
                <input type="text" name="state" maxlength="50" value="@if(project != null) {@project("tbl_project.pj_state")}">
            </div>
            <div id="latitude" class="_float_con">
                <div class="item">위도</div>
                <input type="text" name="latitude" maxlength="20" value="@if(project != null) {@project("tbl_project.pj_latitude")}">
            </div>
            <div id="longitude" class="_float_con">
                <div class="item">경도</div>
                <input type="text" name="longitude" maxlength="20" value="@if(project != null) {@project("tbl_project.pj_longitude")}">
            </div>
            <div id="state" class="long_input _float_con">
                <div class="item">해시태그</div>
                <input type="text" name="hashtag" maxlength="100" value="@if(project != null) {@project("tbl_project.pj_hashtag")}else{스페이스로 구분하여 입력하세요}">
            </div>

        </form>
    </div>

    @if(project != null) {
        <div class="_float_con">
            <div id="project_write_confirm" class="board_btn">
                저장하기
            </div>
            <div onclick="deleteThis('/admin/project_delete', '@project("tbl_project.pj_idx")');" style="margin-left: 12px" class="board_btn">
                삭제하기
            </div>
            @if(children("sites")=="0") {
                <div data-url="/admin/sites_write/@project("tbl_project.pj_idx")" class="write_child_btn board_btn">
                    건축현장 입력
                </div>
            }else {
                <div data-url="/admin/sites_modify/@project("tbl_project.pj_idx")" class="light write_child_btn board_btn">
                    건축현장 변경
                </div>
            }

            @if(children("interior")=="0") {
                <div data-url="/admin/portfolio_write/@project("tbl_project.pj_idx")/interior" class="write_child_btn board_btn">
                    인테리어 입력
                </div>
            }else{
                <div data-url="/admin/portfolio_modify/@project("tbl_project.pj_idx")/interior" class="light write_child_btn board_btn">
                    인테리어 변경
                </div>
            }

            @if(children("design")=="0") {
                <div data-url="/admin/portfolio_write/@project("tbl_project.pj_idx")/design" class="write_child_btn board_btn">
                    건축설계 입력
                </div>
            }else{
                <div data-url="/admin/portfolio_modify/@project("tbl_project.pj_idx")/design" class="light write_child_btn board_btn">
                    건축설계 변경
                </div>
            }

            @if(children("construction")=="0") {
                <div data-url="/admin/portfolio_write/@project("tbl_project.pj_idx")/construction" class="write_child_btn board_btn">
                    건축시공 입력
                </div>
            }else{
                <div data-url="/admin/portfolio_modify/@project("tbl_project.pj_idx")/construction" class="light write_child_btn board_btn">
                    건축시공 변경
                </div>
            }

        </div>
    }else {
        <div class="_float_con">
            <div id="project_write_confirm" class="board_btn">
                생성하기
            </div>
        </div>
    }

}

