@import utils.CommonUtil
@(page_data: Map[String, Any], user_data: List[Map[String, Any]], commonUtil: CommonUtil, con_apply: Map[String, Any])

@with_left_menu(page_data, user_data) {
    <script src="@routes.Assets.versioned("js/deleter.js")" type="text/javascript"></script>
    <div>
        <div id="con_apply_view" class="_float_con">

            <div>
                <div class="item">올린날짜</div>
                <span class="content">@con_apply("tbl_con_apply.ca_created")</span>
            </div>
            <div class="half">
                <div class="item">고객 ID</div>
                <span class="content">@con_apply("tbl_con_apply.ca_client_id")</span>
            </div>
            <div class="half">
                <div class="item">고객명</div>
                <span class="content">@con_apply("tbl_con_apply.ca_client_name")</span>
            </div>
            <div class="half">
                <div class="item">전화번호</div>
                <span class="content">@con_apply("tbl_con_apply.ca_client_phone")</span>
            </div>
            <div class="half">
                <div class="item">이메일</div>
                <span class="content">@con_apply("tbl_con_apply.ca_client_email")</span>
            </div>
            <div>
                <div class="item">주소 1</div>
                <span class="content">@con_apply("tbl_con_apply.ca_address_1")</span>
            </div>
            <div>
                <div class="item">주소 2</div>
                <span class="content">@con_apply("tbl_con_apply.ca_address_2")</span>
            </div>
            <div>
                <div class="item">주소 3</div>
                <span class="content">@con_apply("tbl_con_apply.ca_address_3")</span>
            </div>
            <div>
                <div class="item">목적</div>
                <span class="content">@con_apply("tbl_con_apply.ca_purpose")</span>
            </div>
            <div>
                <div class="item">평수</div>
                <span class="content">@con_apply("tbl_con_apply.ca_pyung")</span>
            </div>
            <div class="half">
                <div class="item">지상층</div>
                <span class="content">@con_apply("tbl_con_apply.ca_floor")</span>
            </div>
            <div class="half">
                <div class="item">지하층</div>
                <span class="content">@con_apply("tbl_con_apply.ca_base_floor")</span>
            </div>
            <div class="half">
                <div class="item">주용도</div>
                <span class="content">@con_apply("tbl_con_apply.ca_yongdo_main")</span>
            </div>
            <div class="half">
                <div class="item">부용도</div>
                <span class="content">@con_apply("tbl_con_apply.ca_yongdo_sub")</span>
            </div>
            <div class="half">
                <div class="item">주구조</div>
                <span class="content">@con_apply("tbl_con_apply.ca_gujo_main")</span>
            </div>
            <div class="half">
                <div class="item">부구조</div>
                <span class="content">@con_apply("tbl_con_apply.ca_gujo_sub")</span>
            </div>
            <div>
                <div class="item">스타일</div>
                <span class="content">@con_apply("tbl_con_apply.ca_style")</span>
            </div>
            <div class="half">
                <div class="item">미팅가능일</div>
                <span class="content">@con_apply("tbl_con_apply.ca_meeting_from") ~ @con_apply("tbl_con_apply.ca_meeting_to")</span>
            </div>
            <div class="half">
                <div class="item">가능시간</div>
                <span class="content">@con_apply("tbl_con_apply.ca_meeting_from") ~ @con_apply("tbl_con_apply.ca_meeting_hour")</span>
            </div>
            <div class="half">
                <div class="item">예산</div>
                <span class="content">@con_apply("tbl_con_apply.ca_meeting_from") ~ @con_apply("tbl_con_apply.ca_budget")</span>
            </div>
            <div class="half">
                <div class="item">건축 예정일</div>
                <span class="content">@con_apply("tbl_con_apply.ca_meeting_from") ~ @con_apply("tbl_con_apply.ca_construction_date")</span>
            </div>
        </div>
        <div id="con_apply_others">
            @con_apply("tbl_con_apply.ca_others")
        </div>

        <div class="_float_con">
            <div id="delete_btn" class="board_btn" onclick="deleteThis('/admin/con_apply_delete', '@con_apply("tbl_con_apply.ca_idx")');">
                삭제하기
            </div>
        </div>
    </div>
}
