@(page_data: Map[String, Any], user_data: List[Map[String, Any]], sets: List[Map[String, Any]])

@for(set <- sets) {
    <h3>@set("category")</h3>
    <hr>
    <div class="scenes_container _float_con">
        @for(scene <- set("scenes").asInstanceOf[List[Map[String, Any]]]) {
            <div class="_pos_rel">
                <div id="thumb_@scene("tbl_sites_pic.stsp_idx")" style="background-image: url('http://@scene("tbl_sites_pic.stsp_url")')"></div>
                <div data-idx="@scene("tbl_sites_pic.stsp_idx")" class="delete_btn _pointer">X</div>
                <h4>@scene("tbl_sites_pic.stsp_title")</h4>
                <script>
                    imageProcessor().image_process("#thumb_@scene("tbl_sites_pic.stsp_idx")")
                </script>
            </div>
        }
    </div>
}

