@(page_data: Map[String, Any], user_data: List[Map[String, Any]])

<div class="top _pos_rel">
    <a id="top_logo" href="/">
        <img src="@routes.Assets.versioned("/images/interface/top_logo.png")">
    </a>

    <div id="account" class="_float_con">
        @*<input type="text">*@
        @*<img src="@routes.Assets.versioned("/images/interface/top_magnifier.png")">*@
        <div>
            @user_data.length match {
                case 0 => {
                    <div class="login_interface">
                        <span>ID</span>
                        <input id="login_id_input" type="text">
                        <span>PW</span>
                        <input id="login_pw_input" type="password">
                        <span class="login_ok">확인</span>
                        <span class="login_cancel">취소</span>
                    </div>
                    <div class="login_and_register">
                        <span class="login_btn">로그인</span>
                        <span class="register_btn">회원가입</span>
                    </div>
                }
                case default => {
                    <span id="i_am_logged_in" class="logout_btn">로그아웃</span>
                    @if(user_data(0)("tbl_user.user_group") == "ADMIN") {
                        <a href="/admin/user">
                            <span>관리자 페이지</span>
                        </a>
                    }else{
                        <a href="/user/register">
                            <span>나의 정보</span>
                        </a>
                    }
                }
            }
        </div>
    </div>

    <div id="navigate" class="_float_con">
        <div id="intro">
            <div class="_pointer" onclick="navigate('/intro/about')">A3</div>
                <ul>
                    <li id="about">A3 그룹은?</li>
                    <li id="people">A3 사람들</li>
                    <li id="contact">CONTACT</li>
                </ul>
        </div>
        <div id="portfolio">
            <div class="_pointer" onclick="navigate('/portfolio/construction')">포트폴리오</div>
            <ul>
                <li id="construction">건축시공</li>
                <li id="design">건축설계</li>
                <li id="interior">인테리어</li>
            </ul>
        </div>
        <div id="sites">
            <div class="_pointer" onclick="navigate('/sites/in_progress')">현장이야기</div>
            <ul>
                <li id="in_progress">현장상황</li>
                <li id="completed">완공현장</li>
            </ul>
        </div>
        <div id="consulting">
            <div class="_pointer" onclick="navigate('/consulting/process')">컨설팅</div>
            <ul>
                <li id="process">진행절차</li>
                <li id="con_apply" class="secured">컨설팅 신청</li>
                <li id="contract_story">계약 스토리</li>
                <li id="as_apply">A/S 신청</li>
            </ul>
        </div>
        <div id="news">
            <div class="_pointer" onclick="navigate('/news/promotion')">소식</div>
            <ul>
                <li id="promotion">A3 홍보관</li>
                <li id="space_story">공간이야기</li>
                <li id="news">A3 NEWS</li>
            </ul>
        </div>
    </div>

</div>

<script>
    navigationMark('@page_data("category")', '@page_data("page")');
</script>